In [1]:
import glob
import pandas as pd
from collections import Counter

import warnings
warnings.filterwarnings("ignore")

regras_ignorados = {}
regras_ignorados['TIPOBITO'] = ['NA']
regras_ignorados['SEXO'] = ['I','0']
regras_ignorados['RACACOR'] = ['NA']
regras_ignorados['ESTCIV'] = [9]
regras_ignorados['ESC'] = [9]
regras_ignorados['ESCMAE'] = [9]
regras_ignorados['QTDFILVIVO'] = [99]
regras_ignorados['QTDFILMORT'] = [99]
regras_ignorados['GRAVIDEZ'] = [9]
regras_ignorados['GESTACAO'] = [9]
regras_ignorados['PARTO'] = [8,9]
regras_ignorados['OBITOPARTO'] = [9]
regras_ignorados['OBITOGRAV'] = [8,9]
regras_ignorados['OBITOPUERP'] = [99]
regras_ignorados['ASSISTMED'] = [9]
regras_ignorados['EXAME'] = [9]
regras_ignorados['CIRURGIA'] = [9]
regras_ignorados['NECROPSIA'] = [9]
regras_ignorados['CIRCOBITO'] = [0]
regras_ignorados['ACIDTRAB'] = [9]
regras_ignorados['FONTE'] = [9]
regras_ignorados['TPMORTEOCO'] = [9]
regras_ignorados['FONTEINV'] = [9]
regras_ignorados['ESCMAEAGR1'] = [9]
regras_ignorados['ESCFALAGR1'] = [9]

In [3]:
# incompletude

df = pd.read_csv('DO22OPEN_T.csv')
ano = 2022
codmun = df['CODMUNOCOR']
    
df_ignorados = df.copy()
df_totais = df.isna()

df_totais = df.isna()
df_nulos = df_totais.copy()

df_totais[df_totais == True] = 1
df_totais[df_totais == False] = 1

df_totais['ANO'] = ano
df_totais['CODMUNOCOR'] = codmun

df_totais = df_totais.groupby(['ANO','CODMUNOCOR']).count().reset_index().melt(id_vars=['ANO','CODMUNOCOR'])
df_totais.columns = ['ANO','CODMUNOCOR','VARIAVEL','TOTAIS']
    
df_nulos['CODMUNNASC'] = codmun
df_nulos['ANO'] = ano

df_nulos = df_nulos.groupby(['ANO','CODMUNOCOR']).sum().reset_index().melt(id_vars=['ANO','CODMUNOCOR'])
df_nulos.columns = ['ANO','CODMUNOCOR','VARIAVEL','NULOS']

for c in df_ignorados.columns:
    if c in regras_ignorados:
        df_ignorados[c] = df_ignorados[c].isin(regras_ignorados[c])
    else:
        if c not in ['ANO','CODMUNOCOR']:
            df_ignorados.drop(columns=[c], inplace=True)

df_ignorados['CODMUNOCOR'] = codmun
df_ignorados['ANO'] = ano

df_ignorados = df_ignorados.groupby(['ANO','CODMUNOCOR']).sum().reset_index().melt(id_vars=['ANO','CODMUNOCOR'])
df_ignorados.columns = ['ANO','CODMUNOCOR','VARIAVEL','IGNORADOS']

df_ignorados = df_ignorados.fillna(0)

df_totais.set_index(['ANO','CODMUNOCOR','VARIAVEL'], inplace=True)
df_nulos.set_index(['ANO','CODMUNOCOR','VARIAVEL'], inplace=True)
df_ignorados.set_index(['ANO','CODMUNOCOR','VARIAVEL'], inplace=True)
    
x = df_totais.join([df_nulos, df_ignorados], how='left')
x = x.reset_index()

x = x[['ANO','CODMUNOCOR','VARIAVEL','NULOS','IGNORADOS','TOTAIS']]

x = x.fillna(0)

TypeError: Cannot do inplace boolean setting on mixed-types with a non np.nan value

In [5]:
df

,contador,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,...,data_nasc,dia_semana_nasc,ano_nasc,idade_obito_anos,idade_obito_meses,idade_obito_dias,idade_obito_horas,idade_obito_mins,idade_obito,idade_obito_calculado
0,1,1,2,9022022,1409.0,826.0,261160.0,21011972.0,450,2,...,1972-01-21,sex,1972.0,50.0,NaN,NaN,NaN,NaN,50.0,50.0
1,2,1,2,1022022,NaN,NaN,NaN,NaN,999,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,2,9022022,1500.0,826.0,260260.0,26091932.0,489,2,...,1932-09-26,seg,1932.0,89.0,NaN,NaN,NaN,NaN,89.0,89.0
3,4,1,2,2022022,2345.0,826.0,261160.0,6061968.0,453,1,...,1968-06-06,qui,1968.0,53.0,NaN,NaN,NaN,NaN,53.0,53.0
4,5,1,2,11022022,1706.0,826.0,261640.0,25041930.0,491,2,...,1930-04-25,sex,1930.0,91.0,NaN,NaN,NaN,NaN,91.0,91.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1542153,1542154,2,2,6122022,1840.0,823.0,231070.0,8071961.0,461,1,...,1961-07-08,sab,1961.0,61.0,NaN,NaN,NaN,NaN,61.0,61.0
1542154,1542155,2,2,29122022,1433.0,823.0,230220.0,28091952.0,470,1,...,1952-09-28,dom,1952.0,70.0,NaN,NaN,NaN,NaN,70.0,70.0
1542155,1542156,2,2,7112022,1418.0,823.0,230440.0,14081940.0,482,2,...,1940-08-14,qua,1940.0,82.0,NaN,NaN,NaN,NaN,82.0,82.0
1542156,1542157,2,2,8122022,225.0,852.0,521570.0,30051963.0,459,1,...,1963-05-30,qui,1963.0,59.0,NaN,NaN,NaN,NaN,59.0,59.0
1542157,1542158,2,2,30042022,1700.0,825.0,251650.0,24011922.0,500,1,...,1922-01-24,ter,1922.0,100.0,NaN,NaN,NaN,NaN,100.0,100.0

In [ ]:
x.to_csv('SIM_dataset/resultados/Incompletude_p{}.csv'.format(cont),
            index=None, compression='gzip')