In [1]:
import glob
import pandas as pd
from collections import Counter

import warnings
warnings.filterwarnings("ignore")

regras_ignorados = {}
regras_ignorados['TIPOBITO'] = ['NA']
regras_ignorados['SEXO'] = ['I','0']
regras_ignorados['RACACOR'] = ['NA']
regras_ignorados['ESTCIV'] = [9]
regras_ignorados['ESC'] = [9]
regras_ignorados['ESCMAE'] = [9]
regras_ignorados['QTDFILVIVO'] = [99]
regras_ignorados['QTDFILMORT'] = [99]
regras_ignorados['GRAVIDEZ'] = [9]
regras_ignorados['GESTACAO'] = [9]
regras_ignorados['PARTO'] = [8,9]
regras_ignorados['OBITOPARTO'] = [9]
regras_ignorados['OBITOGRAV'] = [8,9]
regras_ignorados['OBITOPUERP'] = [99]
regras_ignorados['ASSISTMED'] = [9]
regras_ignorados['EXAME'] = [9]
regras_ignorados['CIRURGIA'] = [9]
regras_ignorados['NECROPSIA'] = [9]
regras_ignorados['CIRCOBITO'] = [0]
regras_ignorados['ACIDTRAB'] = [9]
regras_ignorados['FONTE'] = [9]
regras_ignorados['TPMORTEOCO'] = [9]
regras_ignorados['FONTEINV'] = [9]
regras_ignorados['ESCMAEAGR1'] = [9]
regras_ignorados['ESCFALAGR1'] = [9]

In [2]:
# incompletude
#altere aqui o nome do arquivo e o ano que esta sendo atualizado
df = pd.read_csv('../data1/sim2021-2022.csv')
ano = df['DTOBITO'] % 10000

In [3]:
df

,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,RACACOR,...,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA,CONTADOR
0,1,2,19012022,1740.0,821.0,210405.0,9111984.0,437,2,4.0,...,NaN,1.0,E,NaN,NaN,NaN,NaN,NaN,NaN,1996
1,1,2,20012022,2015.0,828.0,280440.0,19011984.0,438,2,4.0,...,NaN,1.0,M,NaN,NaN,NaN,NaN,NaN,NaN,5400
2,1,2,21032022,1100.0,823.0,230765.0,5101998.0,423,2,4.0,...,NaN,1.0,M,NaN,NaN,NaN,NaN,NaN,NaN,6200
3,1,2,27032022,620.0,835.0,353550.0,16082000.0,421,2,1.0,...,NaN,1.0,M,NaN,NaN,NaN,NaN,NaN,NaN,6371
4,1,2,24042022,1907.0,829.0,290610.0,3071987.0,434,2,1.0,...,NaN,1.0,M,NaN,NaN,NaN,NaN,NaN,NaN,6438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6714,1,2,23102021,2051.0,817.0,170900.0,19022005.0,416,2,NaN,...,NaN,1.0,M,NaN,NaN,NaN,NaN,NaN,NaN,1681377
6715,1,2,30112021,1405.0,817.0,171610.0,8121995.0,425,2,4.0,...,NaN,1.0,M,NaN,NaN,NaN,NaN,NaN,NaN,1733752
6716,1,2,7082021,2355.0,821.0,210530.0,19052004.0,417,2,4.0,...,NaN,1.0,M,NaN,NaN,NaN,NaN,NaN,NaN,1780945
6717,1,2,4072021,1157.0,817.0,172120.0,6091993.0,427,2,4.0,...,NaN,1.0,M,NaN,NaN,NaN,NaN,NaN,NaN,1810212
6718,1,2,7122021,500.0,815.0,150140.0,8072000.0,421,2,1.0,...,NaN,3.0,M,NaN,NaN,NaN,NaN,NaN,NaN,1818531

In [4]:
codmun = df['CODMUNOCOR']
    
df_ignorados = df.copy()
df_totais = df.isna()

df_totais = df.isna()
df_nulos = df_totais.copy()

df_totais = df_totais.replace(True, 1)
df_totais = df_totais.replace(False, 1)

In [5]:
df_nulos.head()

,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,RACACOR,...,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA,CONTADOR
0,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,True,True,True,True,True,False
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,True,True,True,True,True,False
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,True,True,True,True,True,False
3,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,True,True,True,True,True,False
4,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,True,True,True,True,True,False

In [6]:


df_totais['ANO'] = ano
df_totais['CODMUNOCOR'] = codmun

df_totais = df_totais.groupby(['ANO','CODMUNOCOR']).count().reset_index().melt(id_vars=['ANO','CODMUNOCOR'])
df_totais.columns = ['ANO','CODMUNOCOR','VARIAVEL','TOTAIS']
    
df_nulos['CODMUNOCOR'] = codmun
df_nulos['ANO'] = ano

df_nulos = df_nulos.groupby(['ANO','CODMUNOCOR']).sum().reset_index().melt(id_vars=['ANO','CODMUNOCOR'])
df_nulos.columns = ['ANO','CODMUNOCOR','VARIAVEL','NULOS']

for c in df_ignorados.columns:
    if c in regras_ignorados:
        df_ignorados[c] = df_ignorados[c].isin(regras_ignorados[c])
    else:
        if c not in ['ANO','CODMUNOCOR']:
            df_ignorados.drop(columns=[c], inplace=True)

df_ignorados['CODMUNOCOR'] = codmun
df_ignorados['ANO'] = ano

df_ignorados = df_ignorados.groupby(['ANO','CODMUNOCOR']).sum().reset_index().melt(id_vars=['ANO','CODMUNOCOR'])
df_ignorados.columns = ['ANO','CODMUNOCOR','VARIAVEL','IGNORADOS']

df_ignorados = df_ignorados.fillna(0)

df_totais.set_index(['ANO','CODMUNOCOR','VARIAVEL'], inplace=True)
df_nulos.set_index(['ANO','CODMUNOCOR','VARIAVEL'], inplace=True)
df_ignorados.set_index(['ANO','CODMUNOCOR','VARIAVEL'], inplace=True)
    
x = df_totais.join([df_nulos, df_ignorados], how='left')
x = x.reset_index()

x = x[['ANO','CODMUNOCOR','VARIAVEL','NULOS','IGNORADOS','TOTAIS']]

x = x.fillna(0)

In [7]:
x

         ANO  CODMUNOCOR  VARIAVEL  NULOS  IGNORADOS  TOTAIS
0       2021      110004    ORIGEM      0        0.0       2
1       2021      110006    ORIGEM      0        0.0       1
2       2021      110011    ORIGEM      0        0.0       1
3       2021      110012    ORIGEM      0        0.0       1
4       2021      110015    ORIGEM      0        0.0       2
...      ...         ...       ...    ...        ...     ...
135101  2022      521975  CONTADOR      0        0.0       1
135102  2022      522045  CONTADOR      0        0.0       1
135103  2022      522160  CONTADOR      0        0.0       1
135104  2022      522185  CONTADOR      0        0.0       2
135105  2022      530010  CONTADOR      0        0.0      37

[135106 rows x 6 columns]

In [8]:
incompletude = pd.DataFrame()
incompletude = pd.concat([incompletude, x], axis=0)
incompletude.fillna(0, inplace=True)
incompletude = incompletude[~incompletude.VARIAVEL.isin(['contador','NOVO'])]

In [9]:

incompletude.to_csv('../data1/SIM_Incompletude_2021_2022.csv', index=None)

In [10]:
warnings.filterwarnings("ignore")

# aplica as regras para variaveis com opcoes
regras_gerais = {'TIPOBITO':[1,2],
                 'SEXO':[1,2,9,0,'M','F','I'],
                 'RACACOR':[1,2,3,4,5],
                 'ESTCIV':[1,2,3,4,5,9],
                 'ESC':[1,2,3,4,5,9],
                 'LOCOCOR':[1,2,3,4,5,9],
                 'ESCMAE':[1,2,3,4,5,9],
                 'GRAVIDEZ':[1,2,3,9],
                 'GESTACAO':[1,2,3,4,5,6,9],
                 'PARTO':[1,2,9],
                 'OBITOPARTO':[1,2,3,9],
                 'OBITOGRAV':[1,2,9],
                 'OBITOPUERP':[1,2,3,9],
                 'ASSISTMED':[1,2,3,9],
                 'EXAME':[1,2,3,9],
                 'CIRURGIA':[1,2,3,9],
                 'NECROPSIA':[1,2,3,9],
                 'CIRCOBITO':[1,2,3,4,9],
                 'ACIDTRAB':[1,2,9],
                 'FONTE':[1,2,3,4,9],
                 'SERIESCMAE': list(range(1,9)),
                 'TPMORTEOCO':[1,2,3,4,5,8,9],
                 'TPPOS':[1,2],
                 'ATESTANTE': list(range(1,6)),
                 'FONTEINV': [1,2,3,4,6,7,8,9],
                 'ESCMAEAGR1': list(range(1,13)),
                 'ESCFALAGR1': list(range(1,13)),
                }

colunas_implausibilidade = regras_gerais.keys()


# implausibilidade


codmun = df['CODMUNOCOR']

aux_cols = []
for c in colunas_implausibilidade:
    if c in df.columns:
        aux_cols.append(c)

aux = df[aux_cols]

aux['ANO'] = ano
aux['CODMUNOCOR'] = codmun

for col in regras_gerais.keys():
    if col in aux_cols:
        aux[col + "_IMPLAUSIVEL"] = (~aux[col].isna()) & (~aux[col].isin(regras_gerais[col]))
    
# REGRAS ESPECÍFICAS

for col in ['IDADE','IDADEMAE']:
    if col not in aux_cols:
        continue
    aux[col] = pd.to_numeric(aux[col], errors='coerce')
    aux[col + "_IMPLAUSIVEL"] = (~aux[col].isna()) & ((aux[col] < 0) | (aux[col] > 120))

for col in ['QTDFILVIVO','QTDFILMORT']:
    if col not in aux_cols:
        continue
    aux[col] = pd.to_numeric(aux[col], errors='coerce')
    aux[col + "_IMPLAUSIVEL"] = (~aux[col].isna()) & (aux[col] != 99) & ((aux[col] < 0) | (aux[col] > 70))
    
col = 'PESO'
if col in aux_cols:
    aux[col] = pd.to_numeric(aux[col], errors='coerce')
    aux[col + "_IMPLAUSIVEL"] = (~aux[col].isna()) & ((aux[col] < 0) | (aux[col] > 11000))

aux_cols = []

for c in aux.columns:
    if 'IMPLAUSIVEL' in c:
        aux_cols.append(c)
        
aux_cols = ['ANO','CODMUNOCOR'] + aux_cols

df_implausiveis = aux[aux_cols]

df_implausiveis.fillna(0, inplace=True)

df_implausiveis = df_implausiveis.groupby(['ANO','CODMUNOCOR']).sum().reset_index().melt(id_vars=['ANO','CODMUNOCOR'])
df_implausiveis.columns = ['ANO','CODMUNOCOR','VARIAVEL','IMPLAUSIVEIS']    


df['ANO'] = ano
df['CODMUNOCOR'] = codmun

df_totais = df[['ANO','CODMUNOCOR']]
df_totais['TOTAIS'] = 1

df_totais = df_totais.groupby(['ANO','CODMUNOCOR'])['TOTAIS'].sum().reset_index()
df_totais.columns = ['ANO','CODMUNOCOR','TOTAIS']
    
df_totais.set_index(['ANO','CODMUNOCOR'], inplace=True)
df_implausiveis.set_index(['ANO','CODMUNOCOR'], inplace=True)
    
x = df_totais.join([df_implausiveis], how='left')
x = x.reset_index()

x = x[['ANO','CODMUNOCOR','VARIAVEL','IMPLAUSIVEIS','TOTAIS']]

x = x.fillna(0)

In [11]:
regras_gerais

{'TIPOBITO': [1, 2],
 'SEXO': [1, 2, 9, 0, 'M', 'F', 'I'],
 'RACACOR': [1, 2, 3, 4, 5],
 'ESTCIV': [1, 2, 3, 4, 5, 9],
 'ESC': [1, 2, 3, 4, 5, 9],
 'LOCOCOR': [1, 2, 3, 4, 5, 9],
 'ESCMAE': [1, 2, 3, 4, 5, 9],
 'GRAVIDEZ': [1, 2, 3, 9],
 'GESTACAO': [1, 2, 3, 4, 5, 6, 9],
 'PARTO': [1, 2, 9],
 'OBITOPARTO': [1, 2, 3, 9],
 'OBITOGRAV': [1, 2, 9],
 'OBITOPUERP': [1, 2, 3, 9],
 'ASSISTMED': [1, 2, 3, 9],
 'EXAME': [1, 2, 3, 9],
 'CIRURGIA': [1, 2, 3, 9],
 'NECROPSIA': [1, 2, 3, 9],
 'CIRCOBITO': [1, 2, 3, 4, 9],
 'ACIDTRAB': [1, 2, 9],
 'FONTE': [1, 2, 3, 4, 9],
 'SERIESCMAE': [1, 2, 3, 4, 5, 6, 7, 8],
 'TPMORTEOCO': [1, 2, 3, 4, 5, 8, 9],
 'TPPOS': [1, 2],
 'ATESTANTE': [1, 2, 3, 4, 5],
 'FONTEINV': [1, 2, 3, 4, 6, 7, 8, 9],
 'ESCMAEAGR1': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
 'ESCFALAGR1': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]}

In [12]:
x.loc[(x['VARIAVEL'] == 'ESCFALAGR1_IMPLAUSIVEL') & (x['IMPLAUSIVEIS'] > 5)]

       ANO  CODMUNOCOR                VARIAVEL  IMPLAUSIVEIS  TOTAIS
3779  2021      211130  ESCFALAGR1_IMPLAUSIVEL             6      75

In [13]:
implausibilidade = pd.DataFrame()
implausibilidade = pd.concat([implausibilidade, x], axis=0)
implausibilidade.fillna(0, inplace=True)
implausibilidade = implausibilidade[~implausibilidade.VARIAVEL.isin(['contador','NOVO'])]
implausibilidade.to_csv('../data1/SIM_Implausibilidade_2021_2022.csv', index=None)

In [14]:
warnings.filterwarnings("ignore")

regras = {}
cont = 0

def convert_date(col):
    
    col = col.fillna(0)
    data_string = col.apply(int).apply(str)
    y = data_string.str[-4:]
    m = data_string.str[-6:-4]
    d = data_string.str[:-6]
    return y.str.cat(m.str.cat(d.str.zfill(2)))

# inconsistencias

codmun = df['CODMUNOCOR']

aux_cols = [
    'DTOBITO',
    'DTNASC',
    'SEXO',
    'OBITOPARTO',
    'OBITOGRAV',
    'OBITOPUERP',
    'LOCOCOR',
    'FONTE'
]

aux = df[aux_cols]
        
# DTOBITO menor que DTNASC
regras['DTOBITO_e_DTNASC'] = "Se a data de óbito for menor que a data de nascimento"
aux['DTOBITO'] = convert_date(aux['DTOBITO'])
aux['DTNASC'] = convert_date(aux['DTNASC'])
    
aux['DTOBITO_e_DTNASC_INCONSISTENTES'] = (aux['DTOBITO'] < aux['DTNASC'])
    
# se SEXO estiver como M ou I e os campos OBITOPARTO, OBITOGRAV, OBITOPUERP estiverem preenchidos
regras['SEXO_e_OBITO'] = "Se SEXO for diferente de 'M','I' e os campos relativos a óbitos em mulheres estiverem preenchidos"

obito_preenchido = (~aux['OBITOPARTO'].isna()) | (~aux['OBITOGRAV'].isna()) | (~aux['OBITOPUERP'].isna())
aux['SEXO_e_OBITO_INCONSISTENTES'] = (aux['SEXO'].isin(['M','I'])) & (obito_preenchido)

# Se OBITOPARTO preenchido como 3 e OBITOPUERP estiver como 3 ou OBITOGRAV estiver como 1; 
# Se OBITOPARTO preenchido como 1 ou 2 e OBITOGRAV estiver como 2 ou OBITOPUERP estiver como 1 ou 2; 
# Se OBITOPARTO preenchido como 9, OBITOGRAV estiver como 1 ou 2 ou OBITOPUERP estiver como 1,2 ou 3
regras['OBITO_PUERPERIO_GRAVIDEZ'] = "Se OBITOPARTO e OBITOPUERP estiver como 3 ou OBITOGRAV estiver como 1;"
regras['OBITO_PUERPERIO_GRAVIDEZ'] += "Se OBITOPARTO estiver como 1 ou 2 e OBITOGRAV estiver como 2, ou OBITOPUERP estiver como 1 ou 2;"
regras['OBITO_PUERPERIO_GRAVIDEZ'] += "Se OBITOPARTO estiver como 9 e OBITOGRAV estiver como 1 ou 2, ou OBITOPUERP estiver como 1, 2 ou 3"

parte_1 = (aux['OBITOPARTO'] == 3) & ((aux['OBITOPARTO'] == 3) | (aux['OBITOGRAV'] == 1))
parte_2 = (aux['OBITOPARTO'].isin([1,2])) & ((aux['OBITOGRAV'] == 2) | (aux['OBITOPUERP'].isin([1,2])))
parte_3 = (aux['OBITOPARTO'] == 9) & ((aux['OBITOGRAV'].isin([1,2])) | (aux['OBITOPUERP'].isin([1,2,3])))
aux['OBITO_PUERPERIO_GRAVIDEZ_INCONSISTENTES'] = (parte_1) | (parte_2) | parte_3

# Preechido como 1 e o item Morte durante o puerperio também for preenchido como 1,2 ou 9
regras['OBITOGRAV_e_OBITOPUERP'] = "Se OBITOGRAV estiver como 1 e OBITOPUERP estiver como 1, 2 ou 9"

aux['OBITOGRAV_e_OBITOPUERP_INCONSISTENTES'] = (aux['OBITOGRAV'] == 1) & (aux['OBITOPUERP'].isin([1,2,3]))

# Preenchido como 1 ou 2 e o item morte durante a gravidez estiver preenchido como 1 ou 9
regras['OBITOPUERP_e_OBITOGRAV'] = "Se OBITOGRAV estiver como 1 ou 2 e OBITOGRAV estiver como 1 ou 9"

aux['OBITOPUERP_e_OBITOGRAV_INCONSISTENTES'] = (aux['OBITOGRAV'].isin([1,2])) & (aux['OBITOGRAV'].isin([1,9]))

# Se FONTE diferente de 2 e LOCOCOR for igual a 1
regras['FONTE_E_LOCOCOR'] = "Se FONTE estiver diferente de 2 e LOCOCOR estiver como 1"

aux['FONTE_E_LOCOCOR_INCONSISTENTES'] = (aux['FONTE'] != 2) & (aux['LOCOCOR'] == 1)

aux_cols = []
for c in aux.columns:
    if 'INCONSISTENTES' in c:
        aux_cols.append(c)
        
aux = aux[aux_cols]

aux['ANO'] = ano
aux['CODMUNOCOR'] = codmun


df_inconsistentes = aux

df_inconsistentes.fillna(0, inplace=True)

df_inconsistentes = df_inconsistentes.groupby(['ANO','CODMUNOCOR']).sum().reset_index().melt(id_vars=['ANO','CODMUNOCOR'])
df_inconsistentes.columns = ['ANO','CODMUNOCOR','VARIAVEL','INCONSISTENTES']    


df['ANO'] = ano
df['CODMUNOCOR'] = codmun

df_totais = df[['ANO','CODMUNOCOR']]
df_totais['TOTAIS'] = 1

df_totais = df_totais.groupby(['ANO','CODMUNOCOR'])['TOTAIS'].sum().reset_index()
df_totais.columns = ['ANO','CODMUNOCOR','TOTAIS']
    
df_totais.set_index(['ANO','CODMUNOCOR'], inplace=True)
df_inconsistentes.set_index(['ANO','CODMUNOCOR'], inplace=True)
    
x = df_totais.join([df_inconsistentes], how='left')
x = x.reset_index()

x = x[['ANO','CODMUNOCOR','VARIAVEL','INCONSISTENTES','TOTAIS']]

x = x.fillna(0)

In [15]:
inconsistencias = pd.DataFrame()
inconsistencias = pd.concat([inconsistencias, x], axis=0)
inconsistencias.fillna(0, inplace=True)
inconsistencias = inconsistencias[~inconsistencias.VARIAVEL.isin(['contador','NOVO'])]
inconsistencias.to_csv(f'../data1/SIM_Inconsistencia_2021_2022.csv', index=None, compression='gzip')

In [16]:
inconsistencias

,ANO,CODMUNOCOR,VARIAVEL,INCONSISTENTES,TOTAIS
0,2021,110004,DTOBITO_e_DTNASC_INCONSISTENTES,0,2
1,2021,110004,SEXO_e_OBITO_INCONSISTENTES,0,2
2,2021,110004,OBITO_PUERPERIO_GRAVIDEZ_INCONSISTENTES,0,2
3,2021,110004,OBITOGRAV_e_OBITOPUERP_INCONSISTENTES,0,2
4,2021,110004,OBITOPUERP_e_OBITOGRAV_INCONSISTENTES,0,2
...,...,...,...,...,...
9421,2022,530010,SEXO_e_OBITO_INCONSISTENTES,0,37
9422,2022,530010,OBITO_PUERPERIO_GRAVIDEZ_INCONSISTENTES,0,37
9423,2022,530010,OBITOGRAV_e_OBITOPUERP_INCONSISTENTES,14,37
9424,2022,530010,OBITOPUERP_e_OBITOGRAV_INCONSISTENTES,14,37
9425,2022,530010,FONTE_E_LOCOCOR_INCONSISTENTES,33,37